# Virtual environment directories
venv/
myenv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyc

# Python distribution artifacts
build/
dist/
*.egg-info/
Scripts/

# Test caches
.pytest_cache/

# IDE/editor configuration files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Sensitive configuration files
.env

# Other files to ignore
*.log
*.csv
setup.py
test.py 
descargas_test/
coomer.py
resources/config/logs/*